#addExpense form {
    @apply flex flex-col space-y-3 mt-10 bg-cyan-50 rounded-2xl p-8;
}

#addExpense form div {
    @apply ml-6;
}

#addExpense form .submitBtn {
    @apply m-auto;
}

.submitBtn button {
    @apply w-24 h-8 rounded-full bg-cyan-100 hover:bg-orange-100 active:bg-orange-200 mt-10;
}

.splitMethods button {
    @apply w-60 h-8 rounded-sm shadow-lg active:bg-cyan-100;
}

#selected-container {
    height: 110px; 
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
}

#available-container {
    height: 70px; 
    width: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
}

.remove-button {
    margin-left: auto;
    padding: 5px 5px;
    background-color: #f44336; /* Red color for remove button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #d32f2f;
}