.Event {
  @apply flex flex-col space-y-5 p-4; /* This will hide any overflow */
  @apply bg-cyan-50 p-6 font-mono;
}

.title {
  @apply text-2xl font-bold mb-5 p-2;
}

.add_events_button {
  @apply w-32 h-10 rounded-lg bg-cyan-100 hover:bg-orange-100 active:bg-orange-200;
  @apply absolute mt-4 mr-3 top-5 right-5 p-1 px-2.5 border-none rounded-lg cursor-pointer;
}

.add-event-content {
  @apply flex flex-col space-y-4 p-6 bg-white rounded-lg shadow-lg;
  @apply fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-cyan-100 rounded-2xl p-8;
}

.select-members-popup {
  @apply flex flex-col space-y-4 p-6 bg-white rounded-lg shadow-lg;
}

.add-members-content {
  @apply flex flex-col space-y-4 p-6 bg-white rounded-lg shadow-lg;
}

.add-Member-Button {
  @apply cursor-pointer;
}

.close {
  @apply cursor-pointer;
}

.Total_Balance_Section {
  @apply flex space-x-4 items-center p-4 bg-cyan-100 rounded-lg;
}

.Total_Balance_avatar {
  @apply w-20 h-20 rounded-full border-4 border-cyan-300;
}

.Total_Balance_title {
  @apply font-bold mb-2.5;
}

.balance_details {
  @apply flex flex-col;
}

.EventsFilter {
  @apply hover:bg-orange-100 active:bg-orange-200;
  @apply absolute right-10 border-none rounded-sm cursor-pointer;
  @apply mt-2 mb-2;
}
.events_list {
  @apply h-80 w-full flex flex-col space-y-4 mt-6 bg-cyan-100 bg-opacity-50 pb-20;
  @overflow-auto;
}

.event-list {
  @apply flex justify-between items-center p-4 border-b border-gray-200;
  @apply mt-6;
}

.navbar-placeholder {
  @apply mt-6;
}

.Event-date {
  @apply inline-block;
  @apply w-12 p-1 rounded-2xl bg-slate-100 break-words text-center opacity-60;
}

.Event-name {
  @apply ml-10 flex-grow;
}

.event-list button {
  @apply w-16 p-1 rounded-lg bg-cyan-100 hover:bg-orange-100 active:bg-orange-200;
}

/* Dark Mode for Events Page */
.body-dark-mode {
  @apply bg-gray-800; /* add dark mode to the outter most background on the page (area around the container) */
}

.dark-mode .Events {
  @apply bg-gray-800;
  min-height: 100vh;
}

.dark-mode .Event-date {
  @apply bg-gray-600;
  @apply text-white;
  @apply opacity-100;
}

.dark-mode .add_events_button {
  @apply bg-gray-500 border-gray-600 hover:bg-gray-600 active:bg-gray-700;
}

.dark-mode .add-event-content,
.dark-mode .select-members-popup,
.dark-mode .add-members-content {
  @apply bg-gray-800;
  @apply text-gray-400;
}

.dark-mode .Total_Balance_Section {
  @apply bg-gray-800;
}

.dark-mode .Total_Balance_avatar {
  @apply border-cyan-600;
}

.dark-mode .events_list,
.dark-mode .event-list {
  @apply bg-gray-700 border-gray-600;
}

.dark-mode .event-list button {
  @apply bg-gray-500 hover:bg-gray-600 active:bg-gray-700;
}

.dark-mode .title,
.dark-mode .Total_Balance_title,
.dark-mode .event-list {
  @apply text-white;
}

.login-button {
  @apply w-full bg-blue-500 text-white rounded p-2 hover:bg-blue-700 mb-4 mt-6;
}
