/* Expense.css - styling of Expense Page */

.add-expense-btn {
    @apply bg-blue-500 text-white py-2 px-4 rounded-full cursor-pointer absolute top-8 right-8;
}

.expense-page {
    @apply bg-cyan-50 min-h-screen p-6 font-mono flex flex-col justify-center items-center;
}

.event-title {
    @apply text-xl font-bold text-left pl-4 w-full mt-4;
}

.header {
    @apply flex flex-col justify-start items-start mb-6;
}

.page-title {
    @apply text-xl font-bold mb-2;
}

.header-info {
    @apply flex justify-between items-center mb-6 w-full max-w-xl gap-4;
}

.owed-amount {
    @apply text-xl font-semibold mb-6;
}

.buttons {
    @apply flex gap-4 mb-6;
}

.btn-settle, .btn-balance, .btn-total {
    @apply py-2 px-4 rounded-full shadow-md cursor-pointer; 
}

.btn-settle {
    @apply bg-red-500 text-white;
}

.btn-balance, .btn-total {
    @apply bg-light-blue-200 text-light-blue-800; 
}

.expense-list {
    @apply bg-white p-4 rounded-md shadow-lg flex flex-col w-full max-w-xl; 
}

.participant-item {
    @apply flex justify-between items-center py-2 border-b border-gray-200 w-full flex-nowrap;
    margin-right: 1rem; 
}

.participant-share {
    @apply text-blue-500;
}

.settled-up {
    @apply text-gray-500;
}

.bg-light-blue-200 {
    background-color: #b3d4fc; 
}

.text-light-blue-800 {
    color: #
}
