.navbar {
  @apply pb-4 fixed bottom-5;
}

.navbar ul {
  list-style: none;
  @apply flex justify-around;
  padding: 0;
}

.navbar li {
  @apply m-0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.active {
  @apply text-blue-500 px-4 py-2 font-extrabold;
}
.normal {
  @apply text-black no-underline px-4 py-2 font-extrabold;
}
