/* UserInfo.css - styling of User Info(Account) Page */
/* More features to add for the User Info Page (the buttons will be clickable and direct to relevant pages if we have time to implement those features)*/

.UserInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #e6fff9;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.User_Detail_Section {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 15px;
}

.user-name-email {
    display: flex;
    flex-direction: column;
}

.name, .email {
    font-size: 16px;
    margin-bottom: 5px;
}

.settings-list {
    width: 100%;
}

.setting-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

/* customize colors and classes because I need them here. Might be added to tailwind.config.js */
.bg-e6fff9 {
    background-color: #e6fff9;
}

.bg-f0f0f0 {
    background-color: #f0f0f0;
}

.text-333 {
    color: #333;
}