/* UserInfo.css - styling of User Info(Account) Page */
/* More features to add for the User Info Page (the buttons will be clickable and direct to relevant pages if we have time to implement those features)*/

.UserInfo {
  @apply bg-white font-mono;
  @apply min-h-screen;
  background-color: #fff;
  padding: 4px;
  max-height: calc(
    100vh - 60px
  ); /* this value can be adjusted based on navbar height */
  overflow: auto; /* if content exceeds height, let the user scroll the section */
}

/* full height container for dark mode, otherwise there are uncolored gaps between section boxes */
.UserInfo-full-height {
  min-height: 100vh; /* make sure it covers full viewport height */
}

.page-title {
  @apply text-xl md:text-2xl font-bold mb-4 p-2;
}

.user-detail-section {
  @apply flex items-center bg-cyan-100 p-4 rounded-md mb-5;
}

.avatar {
  @apply rounded-full w-16 h-16 md:w-20 md:h-20;
  margin-right: 16px;
}

.user-name-email {
  @apply flex flex-1 flex-col justify-center;
}

.name,
.email {
  @apply font-bold mb-2.5 text-left;
}

.settings-list-general,
.settings-list-feedback {
  @apply flex flex-col items-start p-4 bg-cyan-100 rounded-md mb-3;
  max-height: 18rem;
}

.setting-item-feedback {
  @apply flex-col items-start;
}

.setting-item {
  @apply flex items-center mb-2 pl-4;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.setting-title {
  @apply flex items-start justify-start text-lg font-bold py-2 px-4 w-full;
}

/* Dark Mode Styles */
.body-dark-mode {
  @apply bg-gray-800; /* add dark mode to the outter most background on the page (area around the container) */
}

.dark-mode {
  @apply bg-gray-700 text-white;
}

.dark-mode .user-detail-section {
  @apply bg-gray-700;
}

.dark-mode .user-detail-section,
.dark-mode .settings-list-general,
.dark-mode .settings-list-feedback {
  @apply bg-gray-700; /* slightly lighter dark background for these sections, 800 is darker */
}

.contact-us-title {
  @apply block text-left w-full;
}

.dark-mode .page-title {
  @apply bg-gray-800 text-white;
}

.dark-mode .UserInfo {
  @apply bg-gray-800; /* dark mode background color, about 800 */
}

.chatbox-container {
  @apply block w-full my-4;
}

.logout {
  @apply ml-4;
}

.chatbox-input {
  @apply px-4 py-2 bg-gray-200 rounded-md text-gray-800 border border-transparent focus:outline-none focus:border-gray-400 mb-3; 
  width: calc(100% - 1em);
  height: 100px;
}

.send-button {
  @apply mt-2 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full;
  cursor: pointer;
  width: calc(100% - 1em);
}

/* Dark mode styles for chatbox its button */
.dark-mode .chatbox-input {
  @apply bg-gray-600 text-white border-gray-500;
}

.dark-mode .send-button {
  @apply bg-blue-800 hover:bg-blue-800;
}

/* Styling for the dark mode switch */
.switch {
  @apply ml-2; /* add some margin to the left of the switch */
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Styling for the container for the dark mode toggle */
.dark-mode-toggle {
  @apply flex items-center;
}

.setting-item .dark-mode-text {
  @apply mr-2;
}

@media only screen and (max-width: 600px) {
  .avatar {
    @apply w-12 h-12; /* adjust profile pic size for small screens */
  }

  .settings-list-general,
  .settings-list-feedback {
    @apply flex-col;
    max-height: none;
  }

  .setting-item {
    @apply mb-1;
  }
}
